{% extends 'layout.html' %}

{% block header %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Log In</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post">
          {{form.hidden_tag()}}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Login Panel</legend>
              <div class="form-group">
                  {{form.username.label(class="form-control-label")}}
                  {{form.username(class="form-control form-control-lg")}}
              </div>
              <div class="form-group">
                  {{form.password.label(class="form-control-label")}}
                  {{form.password(class="form-control form-control-lg")}}
              </div>
          </fieldset>
          <div class="form-group">
              {{form.submit(class='btn btn-outline-info')}}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}