{% extends 'layout.html' %}

{% block header %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{post.title}}</h1>
            <span class="subheading">Written by {{post.user.username}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3> {{post.title}}</h3>
        <p> {{ post.content }}</p>
      </div>
    </div>
  </div>

{% endblock %}
